{{!-- Endorsement Platform user-card partial --}}

<div>
    {{!-- Displaying user information --}}
    <img value="{{this.profilePicture}}">
    <p>{{this.name}}</p>
    <p>{{this.compnay}}</p>
    <p>{{this.position}}</p>
    <p>{{this.topThreeSKills}}</p>
</div>

