{{> navbar}}

<div style="text-align: left">
    <a href="/">Back to Home</a>
</div>

<h1>{{skill.name}}</h1>

{{#if new}}
    <form method="POST" action="/skills/apply?userId={{userId}}&skillId={{skill._id}}">
        <button type="submit">Apply</button>
    </form>
{{/if}}

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
            {{!-- Show users per skill-category --}}
            <div class='list-group' id='lists'>
                {{#each users}}
                <a class="list-group-item list-group-item-action" href="/profile/{{this._id}}">
                    <h5 class="">{{this.userId.name}}</h5>
                    <p class="">{{this.userId.company}}</p>
                    <p class="">{{this.userId.position}}</p>
                    <p>Endorsements: {{this.voters.length}}</p>
                </a>
                
                <form method="POST" action="/skills/vote?voterId={{../userId}}&userId={{this.userId._id}}&skillId={{../skill._id}}"><button type="submit">Upvote</button></form>
                
                {{/each}}
            </div>
        </div>
    </div>
</div>